{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "20"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ],
  "ignore": [
    "**/*.spec.ts",
    "**/*.test.ts"
  ]
}
